*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }

.navigation{
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
}
.logo{
    margin-right: 45%;
    font-size: 20px;
    color: #1877f2;
    margin-left: 1%;
}
#email_or_password , #password{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding-left: 10px;
}
.password{ margin-left:0.5%; margin-right: 0.5%;}

#login_btn{   width: 60px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    background-color:#1877f2 ;
    color: white;
    border: none;

    
}
.login_btn{margin-right:0.5% ;}
#forgotten_account{
    font-size: 100%;
    color: #1877f2;
    text-decoration: none;

}
::placeholder{
    font-size: 15px;
    font-family: Arial;
    font-weight: lighter;
}


/* find_account_container start */

.container{border: 1px solid white;
  width: 100%;
    height: 450px;
   


}
.find_account_container{
    width: 33%;
    border: 1px solid gainsboro;
    height: 280px;
    position: absolute;
    top: 19%;
    left: 33.5%;
    border-radius: 1%;
    background-color: white;
    border-radius: 5px;
}
#find_your_account_input_in{
    width:90%;
    height: 45px;
    border-color: gainsboro;
    border-radius: 5px;
    margin: 0 20px 15px;
    padding: 3%;
}
#find_your_account_h{
    font-family: Arial;
    font-size: 20px;
    padding: 3.2%;
}
#find_your_account_p{
    font-family: Arial;
    font-size: 20px;
    padding: 3.2%; 
}

/* BUTTON */
.btn_cancle_search{
    margin-top: 3.2%;
    margin-left: 55%;
    height: 35px;
    
}
.btn_cancle_search button{
    width:40%;
    height: 35px;
font-size: 100%;


}
.search_button{
background-color: #1877f2;
border-radius: 5px;
border: none;
margin-left: 2%;
 }

 .search_button a{
color: white;
text-decoration: none;
font-weight: bold;

}
.cancle_btn{
    border-radius: 5PX;
    border: none;
    font-weight:100;

}
@media only screen and (max-width: 1220px){
    .find_account_container{
        width: 50%;
      
    }
   
}
@media only screen and (max-width: 804px){
    .find_account_container{
        width: 60%;
      margin-left: 10px;
    }
   
}
@media only screen and (max-width: 700px){
    .find_account_container{ 
      margin-left: 40px;
    }
   
}
@media only screen and (max-width: 670px){
    .find_account_container{ 
        width: 70%;
    
    }
   
}
@media only screen and (max-width: 574px){
    .find_account_container{ 
        
    width: 80%;
    }
   
}
@media only screen and (max-width: 502px){
    .find_account_container{ 
        
    width: 100%;
    
    }
   
}

@media only screen and (max-width: 402px){
    .find_account_container{ 
        width: 140%;
  
   
    
    }
   
}

@media only screen and (max-width: 400px){
    .navigation{
        display: flex;
        width: 100%;
        height: 55px;
        
    }
    .logo{
        margin: 2%;
        font-size: 35px;
       
       
    }
    #email_or_password , #password{
        width: 150px;
        
    }
    .password{ margin-left:3%; margin-right: 3%;}
    
  
    .login_btn{margin-right:3%;}


.container{
    /* border: 1px solid white;
    width: 100%;
    height: 450px; */
     
  
  
  }
  .find_account_container{
    width: 130%;
    left: 45px;
    height: 400px;
   
  }
  #find_your_account_input_in{
     height: 70px;
   
  }
  #find_your_account_h{
    font-size: 35px;
  }
  #find_your_account_p{
    font-size: 30px;
    
  }
  
  /* BUTTON */
  .btn_cancle_search{
    margin-left: 20px;
     
      
  }
  .btn_cancle_search button{
    height: 70px;
   
  
  
  }
  .search_button{
    margin-left: 60px;
 
   }
  

   
}


@media only screen and (max-width: 321px){
  


  .find_account_container{
    width: 180%;
    left: 8px;
    height: 500px;
   
  }
  #find_your_account_input_in{
     height: 80px;
   
  }
  #find_your_account_h{
    font-size: 50px;
  }
  #find_your_account_p{
    font-size: 30px;
    
  }
  
  /* BUTTON */
  .btn_cancle_search{
    margin-left: 20px;
   
  }
  .btn_cancle_search button{
    height: 80px;
   
  }
  .search_button{
    margin-left: 70px;
 
   }
  
#find_your_account_input_in::placeholder{
    font-size: 20px;
}
   


.search_button a{
    font-size: 40px;
    font-weight: bold;
    
    }
#canclebutton{font-size: 40px;
    font-weight: bold;}
   

}

