*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial;

}
/* this code is used to hide the scroll bar for chrome brower */
*::-webkit-scrollbar {
  display: none;
}
/* this code is used to hide the scroll bar for chrome brower */
body{width: 100%;
height: 100%;
}
/* navigation start */
.navigation{
    display: flex;
    height: auto;
    position: fixed;
    align-items: center;
    width: 100%;
    gap: 10px;
   padding: 5px;
   background-color: white;
   overflow: hidden;

}
.facebook-logo{
    color: #1877f2;
    font-family: Arial;
    font-size: 20px;
    margin-left: 10px;
}

.facebook-logo{ 
    width: auto;
}
.search_icon_div{
    width: auto;
    margin-left: 15%;
}
.search_icon{
  width: auto;
  position:relative;
  left: 45px;
  top: 2px;
  border-radius: 30px;
}
.search_bar_div{width: auto;}
.searchbar{
    width: 590px;
    height: 35px;
    border-radius: 30px;
    outline: none;
border: 1px solid gainsboro;
padding-left: 10%;
background-color:#f2f3f5 ;
}

.searchbar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  
.messanger{width: auto;
    margin-left: 22%;
}
/* navigation end */



.container{
width: 100%;
/* border: 1px solid black ; */
display: flex;
top: auto;
position: fixed;
top: 55px;
background-color: #f2f3f5;

}

/* left side strt */

.left{
  /* border: 1px solid black ; */
  width: 16%;
  height: 650px;
  position: sticky;
  overflow: auto;
  top: 55px;
  
  background-color: #f2f3f5;
 
}
.left a{
	display: block;
	background-color:#f2f3f5;
	color: black;
	padding: 8px;
	text-decoration: none;
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
  
}
.left a span{
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: -8px;
  
}
#first_a{
  margin-top: 10px;
}

.privacy {
  display: flex;
  flex-wrap: wrap;
}
.privacy  a{
  font-size: 15px;
color: #767676;
border-radius: 10PX;
 
}

  

.left a:hover {
	background-color:#dcdee4bd;
  }
  
 

hr{
border: 2px solid gainsboro;
}
/* left side end */






/* right div start */
.right{
  width: 23%;
  height: 650px;
  position: sticky;
  overflow: auto;
  top: 55px;
  /* border: 1px solid black; */
  background-color: #f2f3f5;

 
}
.birthday{
  margin-top: 10px;

}
.birthday  div a{
display: flex;
align-items:center;
margin-left: 0%;

}


.contect{
  display: flex;
 gap: 10px;
 margin-top: 10px;

}
.contect a i{
padding-left: 5px;
  border-radius: 20px;
 
}

.contact_icon:hover{
  border-radius: 50px;
}



.right a{
	display: block;
	background-color:#f2f3f5;
	color: black;
	padding: 8px 8px 8px 0px;
	text-decoration: none;
  border-radius: 10px 0px 0px 10px;
  /* border: 1px solid black; */
  
position: relative;
z-index: 0;
  
}
.right a span{
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: -8px;
  
}

.active_now{
 
  padding: 5px;
  text-align: center;
  background-color: #00A400;
  font-size: 20px;
  position: sticky;
  top: 0;
  color: white;

  z-index: 1;
}

.right a:hover {
	background-color:#dcdee4bd;
  }
  
 
/* right div end */
  
 




/* middle div start */

.middle{
  width: 61%;
  height: 650px;
  position: sticky;
  overflow: auto;
  top: 55px;
  /* border: 1px solid black; */
  background-color: #f2f3f5;
}

.middle_item_container{
  /* border: 1px solid black; */
  width: 63.2%;
  margin: 0.8% 18.4%; 
  height: auto;
  /* position: fixed; */
 

}
/* story start */

.story_containter{
 
  width: 100%;
  overflow-x: auto;
  height: 200px;
  display: flex;
  overflow-x: scroll;
  transition: transform  ;
}
.users_strory{
  width: 115px;
  height: 200px;
  background-color: #fff;
  
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background-image: url('story/02.jpeg');
  background-size: cover;
  background-repeat: no-repeat;

}

.story_user_img{position: relative;
left: 6px;
top: 6px;

}
.story_user_name{
  position: relative;
  top: 60%;
  color:white;
  margin-left: 3px;
}
.story_containter  :hover{
  transform: scale(1.09);
}


/* story end */









.wht_on_mind_container{
  width: 100%;
  height: 120px;
  margin-top: 3%;
  /* border: 1px solid black; */
  border-radius: 10px;
 
  background-color: white;
}
.wht_on_mind_item{
  padding: 10px;
display: flex;
align-items: center;
}

.wht_on_mind_item input{
  width: 490px;
  height: 35px;
  border-radius: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
  background-color:#f2f3f5 ;
  border: 1px solid gainsboro;
}


.wht_on_mind_item input:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }

  .wht_on_mind_item2 {
    display: flex;
    gap: 10px;
    margin-top: 2%;
    margin-left: 20px;
  }
.wht_on_mind_item2  a{
  display: flex;
  align-items: center;
  border: 1px solid black;
  border: none;
  padding: 1px;
  width: 30%;
  border-radius: 30px;
  outline: none;
  color: black;
}
.wht_on_mind_item2  a:hover{
  background-color:#f2f3f5;
  box-shadow: 1px 1px 8px 1px #dcdcdc;}
  


  .create_room_container{
    width: 100%;
    height: 70px;
    
    margin-top: 3%;
    border-radius: 10px;
    padding: 15px 0px 0px 10px;
    background-color: white;
  }
  .create_room_container a{
    display: flex;
    align-items: center;
    border: 1px solid black;
    /* border: none; */
    border-color: #1876f22d;
    width: 30%;
    border-radius: 30px;
    outline: none;
    color:#1877f2;
    padding: 3px 0px 3px 8px; 
    background-color: white;
    

  }

  .create_room_container  a:hover{
    background-color:#f2f3f5;
    box-shadow: 1px 1px 8px 1px #dcdcdc;}

    

/* card start */
    .cards{
      /* border: 1px solid black; */
      width: 100%;
      height: 590px;
      margin-top: 3%;
      border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
    }

.header{
  margin-top: 15px;
 
}
    
.options {
  font-family: Helvetica;
  font-size:12px;
  color: #0b0a0a;
  margin-left: 90%;
}


.co-logo {
  float:left;
  margin-right:8px;
  width:45px;
  height:45px;

}

.co-name  a {
  font-family: Helvetica;
  font-size:14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration:none;
  margin-bottom:2px;
}
.time {
  font-size:12px;
}
.options:hover {

  color: rgba(0, 0, 0, .30);
}

.content {
  font-family: Helvetica, sans-serif;
  font-size:14px;
 margin-top:30px;
 margin-bottom: 10px;
 width: 100%;
}

.image_card_01 {
  width:100%;
  height: 560x;
  margin-bottom: 10px;
  transition: transform 100ms ease-in;
}

.image_card_container :hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  transform: scale(1.01);
}



.social-buttons  {
  font-size: 15px; 
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;

}

.social-buttons   a{
  color:#aca9a9;
 /* border: 1px solid black; */
border-radius: 10px;



}
.a1{
  padding: 2% 8% 1% 8%;
}
.a2{
  margin-left: 10px;
  padding: 2% 8% 1% 8%;
  
}
.a3{margin-left: 10px;
  padding: 2% 8% 1% 8%;}
.social-buttons  i {
 
  font-size: 25px;}
 

.social-buttons   a:hover{
  /* color:red; */
  background-color:#dcdcdc;
 
  
}


#card2{
  height: 500px;
}
#card3{
  height: 500px;
}


.fixed_messanger{
  position: fixed;
  top: 88%;
  left: 92%;
width: auto;
}
.fixed_messanger a {
 border: 2px solid rgb(0, 179, 255);
 width: 50px;
 height: 50px;
 border-radius: 30px;
 background-color: rgb(0, 132, 255);
}


.fixed_messanger a :hover{
  background-color: rgb(0, 132, 255);
 }
.fixed_messager_img{
  width: 90px;
position: relative;
bottom: 28px;
right: 21px;

  border-radius: 100px;

}

  

/* middle div end */




@media only screen and (max-width: 1180px){

  .wht_on_mind_item input{
    width: 250px;
    
  
   
  }

  .search_icon_div{
    margin-left: 20px;   
}

.searchbar{
width: 450px;
}


  
.messanger{
  margin-left: 15%;
}




.a2{
  margin-left: 0px;

}
.a3{margin-left: 0px;
 }
.social-buttons  i {
  font-size: 15px;}

}